*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy ;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    height: 100%;
    width: 100%;

}
#left{
    height: 100%;
    width: 50%;
    background-image: url(adam-davis-eiCHK743HQc-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
#overlay1{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.449);
   position: relative;   
}

/* centering the elements of div with new method by adding all
 the elemnts which we want in center adding then all in one div 
 and inside the div use property   text align center 

 and the div in which we wanted to make center make in position relative */


#center1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    text-align: center;
    letter-spacing: 15px;

}
#center1 h1{
    font-size: 44px;
    font-weight: 100;
    font-family: 'Anurati';
}
#center1 p{
    margin-top: 10px;
    font-weight: 400;
}

#center1 button{
    margin-top: 10px;
    width: 300px;
    letter-spacing: 7px;
    background-color: transparent;
    padding: 12px;
    border: 1px solid black;
   font-size: 34px;
   
}

#center1 button:hover {
    background-color: white;
    color: black;
}


#right{
    height: 100%;
    width: 50%;
    background-image: url(neom-WLeWJW_WneE-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
#overlay2{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.175);
    position: relative;
}
#center2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    letter-spacing: 10px;
}
#center2 h1{
    font-family: 'Anurati';
    font-weight: 100;
}
#center2 p{
    margin-top: 25px;
   font-weight: 400;    
}
#center2 button{
margin-top: 25px;
padding: 20px;
color: white;
border: 1px solid white;
background-color: transparent;
font-size: 25px;
letter-spacing: 10px;

/* font-weight: 900; */
}

#center2 button:hover{

    background-color: black;
    color: white;
}